<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbs</title>
    <style>
        body{
            justify-content: center;
            display : flex;
            background-color: rgb(107, 234, 222);
        }
    </style>
</head>
<body>

    <h4>Home</h4>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/service">Service</a>
        <a href="/contact">Contact</a>
        
</body>
</html>